<h1>This is the Events Page</h1>

<input list="browsers" name="browser">
    <datalist id="browsers">
        <option value="User">
        <option value="Title/Description">
        <option value="Date">
        <option value="Priority">
    </datalist>

<form action="/search" method="POST">
    <label for="searchEvents">
        <input type="text" id="searchEvents" name ="searchTerm"/>
    </label>
    <button type="submit">Submit</button>
</form>

<p>Test text</p>

<a href='/events/create'>Create an Event</a>