<h1>Search Events</h1>

<form action='/events/searchPage' method='POST'>
    <label for='searchOption'></label>
    <select name='searchOption' id='searchOption'>
        <option value='Title/Description'>Title/Description</option>
        <option value='Date'>Date</option>
        <option value='Priority'>Priority</option>
    </select>
    <label for='searchEvents'>
        <input type='text' id='searchEvents' name='searchTerm' />
        {{! <input type="date" id="searchEvents" name ="searchEventDate"/> }}
    </label>
    <button type='submit'>Submit</button>
</form>

<p>For a date search use the format: MM/DD/YYYY</p>
<p>If you do not want to enter a value for month, day, or year, replace the MM, DD, YYYY with (capital) X's</p>
<p>For example, a valid date search with only the month and year fields would be 05/XX/2022</p>
<p>A valid date search with only the year field: XX/XX/2022 </p>

<br>

<a href='/events/create'>Create an Event</a>

<br>
<br>

<h1>All of Your Events</h1>
<div class='event-list-container-compact center-element'>
    {{#each events}}
        {{> eventWidgetCompact eventView=this}}
    {{/each}}
</div>