<form id='create-event-form' action='/events/create' method='POST'>
    <h2>Create an Event</h2>

    <label for='input-title'>Title:</label><br />
    <input id='input-title' />

    <br /><br />

    <label for='input-desc'>Description:</label><br />
    <input id='input-desc' />

    <br /><br />

    <label for='input-priority'>Priority:</label><br />
    <input id='input-priority' type='number' />

    <br /><br />

    <label for='input-date'>Deadline Date:</label><br />
    <input id='input-date' type='date' />

    <br /><br />

    <label for='input-time'>Deadline Time:</label><br />
    <input id='input-time' type='time' />

    <br /><br />

    <button type='submit'>Create Event</button>
</form>