<h1 id='nav-title'>Attila Calendar</h1>

<nav>
    <ul id='nav-container'>
        <li class='nav-block'>
            <a class='nav-content' href='/calendar'>Calendar</a>
        </li>
        <li class='nav-block'>
            <a class='nav-content' href='/events'>Events</a>
        </li>
        <li class='nav-block'><a class='nav-content' href='/user'>User</a></li>
    </ul>
</nav>