<image id="logo" src="/public/images/logo.png"/ alt="Stevens Logo">

<nav>
    <ul id="nav-container">
        <li class="nav-block"><a class="nav-content" href="/">Home</a></li>
        <li class="nav-block">
            <a class="nav-content" href="/calendar">Calendar</a>
        </li>
        <li class="nav-block">
            <a class="nav-content" href="/events">Events</a>
        </li>
        <li class="nav-block"><a class="nav-content" href="/user">User</a></li>
        {{!-- <li id="nav-user-msg"><span class="nav-content">{{userMsg}}</span></li> --}}
    </ul>
</nav>