<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="/public/images/logo.png">
        <link rel='stylesheet' href='/public/css/styles.css' />
    </head>
    <body>
        {{> navigation}}
        {{{body}}}
        <script
		    src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		    crossorigin="anonymous">
        </script>
        <script src="/public/js/validate.js"></script>
        <script src="/public/js/convert.js"></script>
        <script src="{{scriptSource}}"></script>
    </body>
</html>
