<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>{{title}}</title>
        <link rel='stylesheet' href='/public/css/styles.css' />
    </head>
    <body>
        {{> navigation}}
        {{{body}}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>
