<link rel="stylesheet" href="../../public/css/cal.css">
<section id="cal-head">
    <span id="btn-today">today</span>
    <span id="btn-last"><</span>
    <span id="btn-next">></span>
    <h1 id="cal-title"></h1>
</section>
<section id="cal">
</section>
<script src="../../public/js/cal_setup.js" defer></script>
