<main id="cal-container">
    <section id="cal-head">
        <span id="btn-today">today</span>
        <span id="btn-last"><</span>
        <span id="btn-next">></span>
        <h1 id="cal-title"></h1>
    </section>
    <section id="cal">
    </section>
</main>
<section id="event-panel">
    <h1 id="event-panel-title">Events</h1>
    <ol id="event-panel-past"></ol>
    <ol id="event-panel-future"></ol>
</section>
<script src="public/js/cal_setup.js" defer></script>
