/* * {
    box-sizing: content-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: sans-serif;
} */

#cal {
    display: table;
    padding: 5px;
    margin: auto;
    width: 90%;
    height: 90vh;
    border-collapse: collapse;
}

#cal .row {
    display: table-row;
}

#cal .row:nth-of-type(2) .cell {
    border-top: 0px;
}

#cal .row .cell {
    display: table-cell;
    padding: 5px;
    width: 150px;
    border: #000 solid 1px;
    overflow: hidden;
}

#cal .th-group {
    display: table-header-group;
}

#cal .th-group h2 {
    display: table-cell;
    height: 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    border: #000 solid 1px;
    border-bottom: 0px;
    font-size: 12px;
    vertical-align: middle;
}

#cal .row .cell h3 {
    text-align: center;
    font-size: 12px;
    margin: 5px auto 10px;
    width: 24px;
}

#cal .row .cell .events {
    list-style-type: none;
    padding: 0;
    height: 0;
    margin: 0;
}

#cal .row .cell .events li {
    padding: 5px 10px;
    background: #0f0;
    border-radius: 2px;
    margin-bottom: 5px;
}

#cal .row .last, #cal .row .next {
    opacity: 0.5;
}

#cal .row .today {
    background: #f00;
}

#cal-head {
    padding: 5px;
    margin: auto;
    width: 90%;
}

#cal-head #cal-title {
    display: inline-block;
}

#cal-head #btn-today {
    text-transform: uppercase;
    cursor: pointer;
}

#cal-head #btn-last, #cal-head #btn-next {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    color: #aaa;
}

#cal-head #btn-last:hover, #cal-head #btn-next:hover {
    color: #222;
}
