/* ------------------------------------------------------------------
    GLOBAL
------------------------------------------------------------------ */

/* colors */
:root {
    --white: #fff;
    --black: #000;
    --grey: #c5c8c6;

    --beige: #f8f8e1;
    --yellow: #ffcc00;
    --green: #8fbe00;
    --lightblue: #00a8c6;
    --charcoal: #37424a;
    --purple: #aa6699;
    --red: #da2010;
    --pink: #f92672;
    --lilac: #967efb;
}

* {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

html,
body {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.center-element {
    display: block;
    margin: auto;
}

.italics {
    font-style: italic;
}

textarea {
    resize: none;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------------------
    CALENDAR PAGE
------------------------------------------------------------------ */

#cal-container {
    height: 100vh;
    width: 70%;
    user-select: none;
}

/* -- CALENDAR TITLE AND NAVIGATION -- */

#cal-head {
    padding: 5px;
    margin: auto;
    width: 90%;
}

#cal-head #cal-title {
    display: inline-block;
    font-size: 24px;
}

#cal-head #btn-today {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

#cal-head #btn-last,
#cal-head #btn-next {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    color: var(--charcoal);
}

#cal-head #btn-last:hover,
#cal-head #btn-next:hover,
#cal-head #btn-today:hover {
    background: var(--grey);
}

/* -- CALENDAR ACTUAL -- */

#cal {
    display: table;
    padding: 5px;
    margin: auto;
    width: 90%;
    height: 80%;
    border-collapse: collapse;
}

#cal .row {
    display: table-row;
}

/* top row of dates */
#cal .row:nth-of-type(2) .cell {
    border-top: 0px;
}

#cal .row .cell {
    display: table-cell;
    padding: 5px;
    width: 150px;
    border: 1px solid var(--grey);
    overflow: hidden;
}

/* days of week title row */
#cal .th-group {
    display: table-header-group;
}

/* days of week titles */
#cal .th-group h2 {
    display: table-cell;
    height: 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--grey);
    border-bottom: 0px;
    font-size: 12px;
    vertical-align: middle;
}

/* date title */
#cal .row .cell h2 {
    text-align: center;
    font-size: 12px;
    margin: 5px auto 10px;
    width: 24px;
    border-radius: 2px;
    padding: 5px 0 2px;
    cursor: pointer;
}

#cal .row .cell h2:hover {
    background: var(--grey);
}

#cal .row .today h2 {
    background: var(--red);
    color: var(--white);
}

#cal .row .today h2:hover {
    background: var(--charcoal);
}

/* events list in cell */
#cal .row .cell .events {
    height: 0;
}

/* event block */
#cal .row .cell .events li,
#day .events li {
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 12px;
    overflow-wrap: anywhere;
}

#cal .row .cell .events li a,
#day .events li a {
    font-size: 12px;
    color: var(--black);
    text-decoration: none;
}

/* last month & next month cells */
#cal .row .last,
#cal .row .next {
    opacity: 0.5;
}

/* -- DAY POPUP PANEL -- */

#day {
    position: fixed;
    top: 35%;
    left: 25%;
    width: 30%;
    height: 50%;
    padding: 70px 20px 20px;
    background: var(--white);
    border: 2px solid var(--charcoal);
    overflow: scroll;
    z-index: 100;
}

#day #day-panel-head {
    display: block;
    position: fixed;
    top: calc(35% + 2px);
    background: var(--white);
    height: 50px;
    width: inherit;
    padding-top: 20px;
    margin-bottom: 20px;
}

#day #day-panel-head #day-panel-date {
    display: inline;
    font-size: 24px;
    margin: 0;
    float: left;
    line-height: 32px;
}

#day #day-panel-head #day-panel-close {
    font-size: 24px;
    float: right;
    color: var(--charcoal);
    cursor: pointer;
}

#day #day-panel-head #day-panel-close:hover {
    color: var(--red);
}

#day .events li {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 15px 10px 10px;
}

#day .events li a {
    font-size: 18px;
}

/* -- EVENT SIDE PANEL -- */

#event-panel {
    display: block;
    position: fixed;
    top: calc(50% - 45vh);
    right: 2%;
    padding: 20px;
    height: 90vh;
    width: 30%;
    border: 1px solid var(--grey);
    box-sizing: border-box;
    background: var(--white);
}

/* ------------------------------------------------------------------
    NAVIGATION BAR
------------------------------------------------------------------ */

#logo {
    width: 175px;
    height: auto;
    display: block;
    margin: auto;
}

#nav-title {
    text-align: center;
}

#nav-container {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    background: var(--charcoal);
}

.nav-block {
    float: left;
    padding: 10px;
    transition: background 250ms;
}

#nav-user-msg {
    float: right;
    padding: 10px;
}

.nav-block:hover {
    background: var(--red);
}

.nav-content {
    font-size: 1.25em;
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------------------------
    EVENTS PAGE
------------------------------------------------------------------ */

#create-event-form,
#edit-event-form,
#edit-comment-form,
#delete-event-form,
#delete-comment-form {
    width: 400px;
    padding: 10px;
    border: 2px solid black;
}

.event-widget {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.event-widget-compact-container {
    color: black;
    text-decoration: none;
}

.event-widget-compact {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

.event-form-require {
    color: var(--red);
}

.event-flex-container {
    display: flex;
}

.event-flex-container-right-align {
    flex-direction: column;
    align-items: flex-end;
}

.event-flex-container-center-align {
    justify-content: space-between;
    align-items: baseline;
}

.event-gear {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.event-gear:hover {
    color: blue;
}

.event-input-label {
    padding-right: 5px;
}

.event-input-fill {
    flex-grow: 1;
}

#input-desc,
#input-comment {
    width: 100%;
    box-sizing: border-box;
}

.event-form-error {
    color: var(--red);
}

.event-title,
.comment-title {
    overflow-wrap: anywhere;
}

.comment-title {
    margin-top: 5px;
    margin-bottom: 0;
}

.event-priority-1 {
    background-color: #ff9f9f;
}
.event-priority-2 {
    background-color: #ffbd89;
}
.event-priority-3 {
    background-color: #fffe9f;
}
.event-priority-4 {
    background-color: #acff9f;
}
.event-priority-5 {
    background-color: var(--grey);
}

.event-comment-container {
    padding-left: 5px;
    margin-top: 10px;
    border-left: 2px dotted black;
    box-sizing: border-box;
}

.event-post,
.event-post-compact {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    padding: 10px;
    margin-top: 0;
    background-color: lightgray;
    border-left: 2px dotted black;
    box-sizing: border-box;
}

.event-post-compact {
    margin-bottom: 5px;
}

.comment-post-container {
    width: 98%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 16px;
    background-color: lightgray;
    border-left: 2px dotted black;
    box-sizing: border-box;
}

.comment-post {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.event-list-container-full {
    width: 400px;
}

.event-list-container-compact {
    width: 300px;
}

/* ------------------------------------------------------------------
    ERROR PAGE
------------------------------------------------------------------ */

#error {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px;
    background-color: black;
}

#error-image-track {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px dotted black;
}

#error-image {
    width: 100px;
    height: auto;
    position: relative;
    animation: error-image-move 6s infinite;
}

#error-image-caption-container {
    width: 100px;
    position: relative;
    animation: error-image-caption-move 6s infinite;
}

#error-image-caption {
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

#error-image:hover {
    animation-play-state: paused;
}

#error-image:hover + #error-image-caption-container {
    animation-play-state: paused;
}

#error-image:hover + #error-image-caption-container #error-image-caption {
    animation: error-image-caption-show 1.5s;
    animation-fill-mode: forwards;
}

@keyframes error-image-move {
    0% {
        left: 0%;
    }

    50% {
        left: calc(100% - 100px);
        transform: scaleX(1);
    }

    50.01% {
        left: calc(100% - 100px);
        transform: scaleX(-1);
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
    }
}

@keyframes error-image-caption-move {
    0% {
        left: 0%;
    }

    50% {
        left: calc(100% - 100px);
    }

    100% {
        left: 0%;
    }
}

@keyframes error-image-caption-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
