/* ------------------------------------------------------------------
    GLOBAL
------------------------------------------------------------------ */

:root {

}

* {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
}

html, body {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 1.25em;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------
    CALENDAR PAGE
------------------------------------------------------------------ */

#cal-container {
    height: 100vh;
    width: 70%;
}

/* -- CALENDAR TITLE AND NAVIGATION -- */

#cal-head {
    padding: 5px;
    margin: auto;
    width: 90%;
}

#cal-head #cal-title {
    display: inline-block;
    font-size: 24px;
}

#cal-head #btn-today {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

#cal-head #btn-last,
#cal-head #btn-next {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    color: #aaa;
}

#cal-head #btn-last:hover,
#cal-head #btn-next:hover {
    color: #222;
}

/* -- CALENDAR ACTUAL -- */

#cal {
    display: table;
    padding: 5px;
    margin: auto;
    width: 90%;
    height: 80%;
    border-collapse: collapse;
    user-select: none;
}

#cal .row {
    display: table-row;
}

/* top row of dates */
#cal .row:nth-of-type(2) .cell {
    border-top: 0px;
}

#cal .row .cell {
    display: table-cell;
    padding: 5px;
    width: 150px;
    border: #000 solid 1px;
    overflow: hidden;
}

/* days of week title row */
#cal .th-group {
    display: table-header-group;
}

/* days of week titles */
#cal .th-group h2 {
    display: table-cell;
    height: 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000;
    border-bottom: 0px;
    font-size: 12px;
    vertical-align: middle;
}

/* date title */
#cal .row .cell h3 {
    text-align: center;
    font-size: 12px;
    margin: 5px auto 10px;
    width: 24px;
}

#cal .row .today h3 {
    background: #f00;
}

/* events list in cell */
#cal .row .cell .events {
    height: 0;
}

/* event block */
#cal .row .cell .events li {
    padding: 5px 10px;
    background: #0f0;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 12px;
}

/* last month & next month cells */
#cal .row .last,
#cal .row .next {
    opacity: 0.5;
}

/* -- EVENT SIDE PANEL -- */

#event-panel {
    display: block;
    position: fixed;
    top: calc(50% - 45vh);
    right: 2%;
    padding: 20px;
    height: 90vh;
    width: 30%;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #fff;
}

#event-panel #event-panel-title {
    margin: 0;
}

/* ------------------------------------------------------------------
    ERROR PAGE
------------------------------------------------------------------ */

#error {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px;
    background-color: black;
}

#error-image-track {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px dotted black;
}

#error-image {
    width: 100px;
    height: auto;
    position: relative;
    animation: error-image-move 6s infinite;
}

#error-image-caption-container {
    width: 100px;
    position: relative;
    animation: error-image-caption-move 6s infinite;
}

#error-image-caption {
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

#error-image:hover {
    animation-play-state: paused;
}

#error-image:hover + #error-image-caption-container {
    animation-play-state: paused;
}

#error-image:hover + #error-image-caption-container #error-image-caption {
    animation: error-image-caption-show 1.5s;
    animation-fill-mode: forwards;
}

@keyframes error-image-move {
    0% {
        left: 0%;
    }

    50% {
        left: calc(100% - 100px);
        transform: scaleX(1);
    }

    50.01% {
        left: calc(100% - 100px);
        transform: scaleX(-1);
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
    }
}

@keyframes error-image-caption-move {
    0% {
        left: 0%;
    }

    50% {
        left: calc(100% - 100px);
    }

    100% {
        left: 0%;
    }
}

@keyframes error-image-caption-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
