    <header>
        <h1>Change Password</h1>
    </header>
	{{#if errorMsg}}
	<div id="error" class="error">{{errorMsg}}</div>
    {{else}}
    <div id='error' class='error' hidden></div>
    {{/if}}
	<br>
    <p>Please create a password with 6 or more characters that aren't spaces </p>
	<form action='/user/changePassword' method="POST" id="change-password-form">
        <label id="passwordLabel" for="password">Enter New Password:</label>
        <input name="password" type="password" id="password"/>
        <button type="submit">Change Password</button>		
	</form>