    <header>
        <h1>Change Username</h1>
    </header>
	{{#if errorMsg}}
	<div id="error" class="error">{{errorMsg}}</div>
  {{/if}}
	<br>
    <p>Please create a username with 4 or more alphanumeric characters</p>
	<form action='/user/signup' method="POST" id="signup-form">
		<label id="usernameLabel" for="username" value={{username}}>Enter New Username:</label>
        <input name="username" type="text" id="username"/>
        <button type="submit">Change Username</button>		
	</form>