<h1>{{title}}</h1>

<main>
    <div id='error'>{{errorMsg}}</div>

    <!--
    <div id='error-image-track'>
        <img id='error-image' alt='Panic!!!' src='/public/images/dino.gif' />
        <div id='error-image-caption-container'>
            <p id='error-image-caption'>Panic!!!</p>
        </div>
    </div>
    -->
</main>