    <header>
        <h1>Signup</h1>
    </header>
	{{#if errorMsg}}
	<div id="error" class="error">{{errorMsg}}</div>
    {{else}}
    <div id='error' class='error' hidden></div>
    {{/if}}
	<br>
    <p>Please create a username with 4 or more alphanumeric characters and a password with 6 or more characters that aren't spaces </p>
	<form action='/user/signup' method="POST" id="signup-form">
		<label id="usernameLabel" for="username">Enter Username:</label>
        <input name="username" type="text" id="username"/>
        <label id="firstNameLabel" for="first_name">Enter First Name:</label>
        <input name="first_name" type="text" id="first_name"/>
        <label id="lastNameLabel" for="last_name">Enter Last Name:</label>
        <input name="last_name" type="text" id="last_name"/>
        <label id="passwordLabel" for="password">Enter Password:</label>
        <input name="password" type="password" id="password"/>
        <button type="submit">Signup</button>		
	</form>
    <p>Already have an account? <a href="/user">Click here to log-in</a></p>