<header>
        <h1>Profile</h1>
    </header>
  {{#if errorMsg}}
	<div id="error" class="error">{{errorMsg}}</div>
  {{/if}}
	<br>
	<h2 id="name" class ="name">Hello {{first_name}} {{last_name}}!</h2>
	<p id="username" class ="username">Your username is {{username}}</p>
    <p>Need to change your first or last name? <a href="/user/changeName">Click here!</a></p>
    <p>Need to change your password? <a href="/user/changePassword">Click here!</a></p>
    <p>Need to logout? <a href="/user/logout">Click here!</a></p>