<header>
        <h1>Profile</h1>
    </header>
  {{#if errorMsg}}
	<div id="error" class="error">{{errorMsg}}</div>
  {{/if}}
	<br>
	<h2 id="name" class ="name">Hello {{first_name}} {{last_name}}!</h2>
	<p id="username" class ="username">Your username is {{username}}</p>
    <p><a href="/user/changeName">Need to change your first or last name? Click here!</a></p>
    <p> <a href="/user/changePassword">Need to change your password? Click here!</a></p>
    <p><a href="/user/logout">Need to logout? Click here!</a></p>